/* TODO: change logo animation to fade in/out instead of rotate */

* {
  border: 1px solid pink;
  margin: 5px;
}

.App {
  background: #F5F5F5; 
  text-align: center;
}

.App-logo {
  height: 20vmin;
  width: 20vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightblue;
  min-height: 25vh;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  font-size: calc(20px + 2vmin);
  font-weight: 600;
  color: darkblue;
}

.headerLeftText {
  text-align: left;
  padding: 30px;
  margin: 10px;
  font-size: 6rem;
}

.headerRightText {
  text-align: right;
  padding: 30px;
  margin: 10px;
  font-size: 6rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* section styling */
section {
  display: flex;
  max-width: 90%;
  justify-content: center;
  text-align: center;

  width: 90%;
  margin: auto;
}

.articles-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 215px);
  grid-gap: 16px;
  justify-content: center;
  background-color: #f2f2f2;
  padding-bottom: 48px;
}

.article-container {
  cursor: pointer;
  border-radius: 6px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  color: #141c3a;
  padding: 0;
  text-align: start;
  width: 215px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article-content-container {
  padding: 9px 16px 31px 16px;
}

.article-title {
  font-weight: bold;
  margin: 0px;
  margin-bottom: 8px;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.article-image {
  width: 100%;
  display: block;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  grid-column-end: 6;
  grid-column-start: 1;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 8px;
}

.filterSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 510px) {
  .filterSearch {
    justify-content: center;
  };
  .App-header {
    justify-content: center;
  }
}

.filter {
  /* display: block; */
  float: left;
  padding-left: 20px;

  margin-right: 20px;
  line-height: 4.2rem;   
  text-decoration: none;
}
.search {
  /* display: inline; */
  float: right;
  padding-right: 20px;
}

.listings {
  display: inline-block;
}