.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: lightblue;
  /* min-height: 100vh; */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  display: flex;
  max-width: 90%;
  justify-content: center;
  text-align: center;

  width: 90%;
  margin: auto;
}

.filterSearch {
  border: 5px solid black;
  justify-content: space-between;
}

.filter {
  display: flex;
  float: left;
  border: 10px solid black;
  padding-left: 20px;

  vertical-align: top;
  margin-right: 20px;
  line-height: 4.2rem;   /* if you want it vertically middle of the navbar */
  text-decoration: none;
}
.search {
  display: flex;
  float: right;
  border: 10px solid black;
  padding-right: 20px;
}

.items {
  border: 1px solid black;
}