/* TODO: change logo animation to fade in/out instead of rotate */

* {
  border: 1px solid pink;
  margin: 5px;
}

.App {
  background: #F5F5F5; 
  text-align: center;
}

.App-logo {
  height: 20vmin;
  width: 20vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightblue;
  min-height: 25vh;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  font-size: calc(20px + 2vmin);
  font-weight: 600;
  color: darkblue;
}

.headerLeftText {
  text-align: left;
  padding: 30px;
  margin: 10px;
}

.headerRightText {
  text-align: right;
  padding: 30px;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section {
  display: flex;
  max-width: 90%;
  justify-content: center;
  text-align: center;

  width: 90%;
  margin: auto;
}

.filterSearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 510px) {
  .filterSearch {
    justify-content: center;
  };
  .App-header {
    justify-content: center;
  }
}

.filter {
  /* display: block; */
  float: left;
  padding-left: 20px;

  margin-right: 20px;
  line-height: 4.2rem;   
  text-decoration: none;
}
.search {
  /* display: inline; */
  float: right;
  padding-right: 20px;
}

.items {
  display: inline-block;
}